<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  


	<h1>Esse é o resultado de um projeto da Disciplina Sistemas de Informação</h1>
	<p>Os integrantes que a desenvolveram foram</p>
	<li>Mateus Ramos Vendramini </li>
	<li>Ricardo Ciriaco Camargo Imagure </li>
	<li>Maicon Daltrozo </li>
	<li>Eduardo Hideo Gashu </li>
	<li>Guilherme Sugahara </li>

   



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>


