<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>

   

    <h1>Ajuda</h1>


    
  <p style="text-align:center;"> Como você deve ter percebido, nossa aplicação é bem simples. </p>
  <p style="text-align:center;"> Isso é intencional :)   ^^    =P </p>
  <p style="text-align:center;"> Na página home você encontra a lista dos nossos restaurantes cadastrados, com uma estimativa parcial da fila. </p>
  <p style="text-align:center;"> Caso deseje mais detalhes ou contribuir com mais dados, basta selecionar o restaurante desejado </p>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>














