<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>






    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "bandecoapp", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Ajuda",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>



    <div class="center jumbotron">
  <h1>Tamanho atual das filas:</h1>

  
  <h2>Colabore informando sua posição na fila. Acesse a página do resturante que você escolheu:</h2>

  <%= link_to "Central", '#', class: "btn btn-lg btn-primary" %>
   <%= link_to "Química", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Prefeitura", '#', class: "btn btn-lg btn-primary" %>
     <%= link_to "Física", '#', class: "btn btn-lg btn-primary" %>

  
  
</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>





