<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">
  <h1>Tamanho atual das filas:</h1>

  
  <h2>Colabore informando sua posição na fila. Acesse a página do resturante que você escolheu:</h2>
  <%#trocar isso por algo dinâmico, like: Restaurante.each do |F|
      link_to f.nome, path_to f, class sei lá o que é isso ... %>
  <%= link_to "Central", '#', class: "btn btn-lg btn-primary" %>
   <%= link_to "Química", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Prefeitura", '#', class: "btn btn-lg btn-primary" %>
     <%= link_to "Física", '#', class: "btn btn-lg btn-primary" %>

  
  
</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>





