<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>



	<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :senha %>
      <%= f.password_field :senha, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= link_to "Cancelar", root_path, id: "aux", class: "btn btn-primary" %>
    <% end %>

    <p>Deseja se tornar colaborador? <%= link_to "Contato!", contact_path %></p>
  </div>
</div>

   



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>


