<% if  logged_in? %>

<%= form_with(model: restaurante, local: true) do |form| %>
  <% if restaurante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurante.errors.count, "error") %> prohibited this restaurante from being saved:</h2>

      <ul>
      <% restaurante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h3 style="text-align:center;">Por favor, fornecer as informações pedidas abaixo</h3>

       <head>
    <style>
    div {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    div {
    text-align: center;
    padding: 4px;
    }

    div:nth-child(even) {

    }
    </style>
    </head>


  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :restaurante_nome %>
  </div>

  <div class="field">
    <%= form.label :cardápio %>
    <%= form.text_field :cardapio, id: :restaurante_cardapio %>
  </div>

  <div class="field">
    <%= form.label :layout %>
    <%= form.text_field :layout, id: :restaurante_layout %>
  </div>

  <div class="field">
    <%= form.label :mapa %>
    <%= form.text_field :mapa, id: :restaurante_mapa %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto, id: :restaurante_foto %>
  </div>

  <div class="actions">
    <%= form.submit 'Concluir' %>
  </div>
<% end %>

<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 