<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Restaurantes</h1>

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<table style="width:100%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cardapio</th>
      <th>Layout</th>
      <th>Mapa</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nome %></td>
        <td><%= restaurante.cardapio %></td>
        <td><%= restaurante.layout %></td>
        <td><%= restaurante.mapa %></td>
        <td><%= restaurante.foto %></td>
        <td><%= link_to 'Mostrar', restaurante %></td>
        <td><%= link_to 'Editar', edit_restaurante_path(restaurante) %></td>
        <td><%= link_to 'Apagar restaurante', {:action => 'delete', :id => restaurante.id}, :confirm => "Are you sure you want to delete this item?" %></</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Restaurante', new_restaurante_path %>
