<!DOCTYPE html>

<% if  logged_in? %>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
</body>


<head>
<style>
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(34, 34, 34);
    color: white;
}

</style>
</head>

<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">Restaurantes</h1>

<body>
<table style="width:100%">
  <thead>
    <tr>
      <th>Nome</th>
      
      <th>Mapa</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nome %></td>
        
        <td><%= link_to 'Mapa/Layout', restaurante, :target => "_blank" %></td>
        <td><img src=<%=restaurante.foto %> width="149" height="105" /img></td>
        <td><%= link_to 'Editar', edit_restaurante_path(restaurante) %></td>
        <td><%= link_to 'Apagar restaurante', {:action => 'delete', :id => restaurante.id}, data: { confirm: "Você tem certeza?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
<br>

<p style="text-align:center;"><%= link_to 'Novo Restaurante', new_restaurante_path %></p>

 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
 </div>

<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 