
<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
</body>


<body>

<p style="text-align:center;">Layout para o bandejão da física</p>

<p style="text-align:center;">
  <img src="/assets/bandejao_fisica_mao.jpg" width=900 height=600 usemap="#fisicamapa"/></p>

<%= var = Restaurante.find_by(nome: "Física").layout.split(";") %>
  <map name="fisicamapa">
    <%= i = 0 %>
    <%= var.each do |aux|%>
        <area shape="rect" coords=<%=aux%> alt= <%=i%> &  <%= DadoInserido.create(id_fila: Restaurante.find_by(nome: "Física").id, posicao: i ) %>>
        <%= i = i + 1 %>
    <% end %>


  </map>

 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

</body>
</html>

