
<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
</body>


<body>

<p style="text-align:center;">Layout para o bandejão da física</p>

<p style="text-align:center;">
  <img src="/assets/bandejao_fisica_mao.jpg" width=900 height=600 usemap="#fisicamapa"/></p>

<map name="fisicamapa">
  <area shape="rect" coords="700,220,760,250" alt="0" href=/dado_inseridos/new?dado_inseridos[id]=0&dado_inseridos[id_fila]=29&dado_inseridos[posicao]=0>
  <area shape="rect" coords="700,220,760,250" alt="1" href=/dado_inseridos/new?dado_inseridos[id]=1&dado_inseridos[id_fila]=29&dado_inseridos[posicao]=1>
  <area shape="rect" coords="700,250,760,280" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,280,760,310" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,310,760,340" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,340,760,370" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="700,370,760,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="670,350,700,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="640,350,670,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="610,350,640,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="580,350,610,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="550,350,580,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="520,350,550,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="490,350,520,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="460,350,490,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="430,350,460,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="400,350,430,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="370,350,400,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="340,350,370,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="310,350,340,400" alt="Sun" href=img_reserva.htm>
  <area shape="rect" coords="280,350,310,400" alt="Sun" href=img_reserva.htm>
</map>

 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

</body>
</html>

