

<p id="notice"><%= notice %></p>

<h3 style="text-align:center;">Informações do restaurante</h3>

   
<p style="text-align:center;">
  <strong>Nome:</strong>
  <%= @restaurante.nome %>
</p>

<p style="text-align:center;">
  <%= link_to 'Clique para ver o cardápio da semana', @restaurante.cardapio, :target => "_blank" %>
</p>
<div> Cardápio do dia <%= @restaurante.id %>
      
      <% Cardapio.all.each do |f|%>
      <% if (f.dia_semana == "ASegunda") and (f.id_restaurante == @restaurante.id) %>
      <%= f.conteudo %>
      <%= Date.current.strftime('%A') %>
      <% end %>
      <% end %>

 </div>

<p style="text-align:center;">
  <strong>Mapa:</strong><br>
  <img id= "layout" src=<%= @restaurante.mapa %> width="900" height="600" usemap= <%= "#" + @restaurante.nome + "mapa"%>>
</p>
<map name= <%= @restaurante.nome + "mapa" %>>
<% i = 0%>
<% @restaurante.layout.split(";").each do |f| %>
  <area shape="rect" coords=<%= f %> alt = <%= i.to_s%>   href= <%= "/dado_inseridos/" + "create_url?id_restaurante=" + Fila.find_by(id_restaurante: @restaurante.id).id.to_s + "&posicao=" + i.to_s %>>
  <% i = i +1 %>
<%end%>



<script>
window.onload = function() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("layout");
    ctx.drawImage(img, 0, 0);
    ctx.fillStyle = '#f00';
    <% i = 0 %>
    <%@restaurante.layout.split(";").each do |f|%>
    <% x = f.split(",") %>
    <% if i < Fila.find_by(id_restaurante: @restaurante.id).estado_fila %>
      <% i = i + 1 %>

    <% xscale = 2.6 %>
    <% yscale = 2.6 %>
    ctx.beginPath();
    ctx.moveTo(<%= x[0].to_i*xscale %>, <%=x[1].to_i*yscale %> );
    ctx.lineTo(<%= x[2].to_i*xscale %>, <%=x[1].to_i*yscale %> );
    ctx.lineTo(<%= x[2].to_i*xscale %>, <%=x[3].to_i*yscale %> );
    ctx.lineTo(<%= x[0].to_i*xscale %>, <%=x[3].to_i*yscale %> );
    ctx.lineTo(<%= x[0].to_i*xscale %>, <%=x[1].to_i*yscale %> );
    ctx.closePath();
    ctx.fill();
    <% end  %> 
    <% end %> 

    var image = document.getElementById("layout");
    
    image.src = c.toDataURL();
   // document.body.appendChild(image);
    console.log(c.toDataURL());
    c.style.visibility = "hidden";
 

    

}
</script>


<p style="text-align:center;">
  <strong>Foto:</strong><br>
  <img src=<%= @restaurante.foto %> width="149" height="105" /img>
</p>

<p style="text-align:center;"><%= link_to 'Voltar', restaurantes_path %></p>



 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <canvas id = "myCanvas" width="2338" height="1653"></canvas>
