
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <div class="center jumbotron">



<h3 style="text-align:center;">Informações do restaurante</h3><br>

   
<p style="text-align:center;">
  <strong><%= @restaurante.nome %></strong>
</p><br>



 

<p style="text-align:center;">
  <strong>Mapa:</strong><br><br>
  <img id= "layout" src=<%= @restaurante.mapa %> width="900" height="600" usemap= <%= "#" + @restaurante.nome + "mapa"%>>
</p>
<map name= <%= @restaurante.nome + "mapa" %>>

<% @restaurante.layout.split("|").each do |g| %>
<% i = 0%>
  <% g.split(";").each do |f| %>
    <area shape="rect" coords=<%= f %> alt = <%= i.to_s%>   href= <%= "/dado_inseridos/" + "create_url?id_restaurante=" + Fila.find_by(id_restaurante: @restaurante.id).id.to_s + "&posicao=" + i.to_s %>>
    <% i = i +1 %>
<%end%>
<% i = 0 %>
<%end%>
</map>

<p><strong>Cardápio do dia:</strong> 
      
      <% Cardapio.all.each do |f|%>
        <% if (f.dia_semana == Date.current.strftime('%A') ) and (f.id_restaurante == @restaurante.id) %>
          <%f.conteudo.split("#").each do |g| %>
            <li><%= g %> </li>
          <% end %>
        <% end %>
      <% end %>
</p>

<script>
window.onload = function() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("layout");
    ctx.drawImage(img, 0, 0);
    
    <% if Fila.find_by(id_restaurante: @restaurante.id).estado_fila > 0 %>
      ctx.fillStyle = '#f00';
      <%@restaurante.layout.split("|").each do |g|%>
        <% i = 0 %>
        //vezes que isso foi rodado
        <%g.split(";").each do |f|%>
          <% x = f.split(",") %>
          <% if i < Fila.find_by(id_restaurante: @restaurante.id).estado_fila + 1 %>
            

            <% xscale = 1 %>
            <% yscale = 1 %>
            ctx.beginPath();
            ctx.moveTo(<%= x[0].to_i*xscale %>, <%=x[1].to_i*yscale %> );
            ctx.lineTo(<%= x[2].to_i*xscale %>, <%=x[1].to_i*yscale %> );
            ctx.lineTo(<%= x[2].to_i*xscale %>, <%=x[3].to_i*yscale %> );
            ctx.lineTo(<%= x[0].to_i*xscale %>, <%=x[3].to_i*yscale %> );
            ctx.lineTo(<%= x[0].to_i*xscale %>, <%=x[1].to_i*yscale %> );
            ctx.closePath();
            ctx.fill();
            <% i = i + 1 %>
          <% end  %> 
        <% end %> 
      <% end %>
    <% end %> 

    var image = document.getElementById("layout");
    
    image.src = c.toDataURL();
   // document.body.appendChild(image);
    console.log(c.toDataURL());
    c.style.visibility = "hidden";
 

    

}
</script>


<p style="text-align:center;">
  <strong>Foto:</strong><br><br>
  <img src=<%= @restaurante.foto %> width="149" height="105" /img>
</p>

<p style="text-align:center;"><%= link_to 'Voltar', "/#" %></p>



 

<div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>

<canvas id = "myCanvas" width="900" height="600"></canvas>

</html>