

<p id="notice"><%= notice %></p>

<h3 style="text-align:center;">Informações do restaurante</h3>

   
<p style="text-align:center;">
  <strong>Nome:</strong>
  <%= @restaurante.nome %>
</p>

<p style="text-align:center;">
  <%= link_to 'Clique para ver o cardápio da semana', @restaurante.cardapio, :target => "_blank" %>
</p>

<p style="text-align:center;">
  <strong>Mapa:</strong><br>
  <img src=<%= @restaurante.mapa %> width="900" height="600" usemap= <%= "#" + @restaurante.nome + "mapa"%>>
</p>
<map name= <%= @restaurante.nome + "mapa" %>>
<% i = 0%>
<% @restaurante.layout.split(";").each do |f| %>
  <area shape="rect" coords=<%= f %> alt = <%= i.to_s%>   href= <%= "/dado_inseridos/" + "create_url?id_restaurante=" + @restaurante.id.to_s + "&posicao=" + i.to_s %>>
  <% i = i +1 %>
<%end%>

<p style="text-align:center;">
  <strong>Foto:</strong><br>
  <img src=<%= @restaurante.foto %> width="149" height="105" /img>
</p>

<p style="text-align:center;"><%= link_to 'Voltar', restaurantes_path %></p>

 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>