<p id="notice"><%= notice %></p>

<h3 style="text-align:center;">Informações do restaurante</h3>

    <head>
    <style>
    p {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    p {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    p:nth-child(even) {
    background-color: #dddddd;
    } 
    </style>
    </head>

<p>
  <strong>Nome:</strong>
  <%= @restaurante.nome %>
</p>

<p>
  <strong>Cardapio:</strong>
  <%= @restaurante.cardapio %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @restaurante.layout %>
</p>

<p>
  <strong>Mapa:</strong>
  <%= @restaurante.mapa %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @restaurante.foto %>
</p>

<%= link_to 'Editar', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Voltar', restaurantes_path %>
