
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
</body>

<head>
<style>
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

p {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

p:nth-child(even){background-color: #f2f2f2;}

p:hover {background-color: #ddd;}

a:link, a:visited {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: rgb(34, 34, 34);
}

</style>
</head>

<p id="notice"><%= notice %></p>

<h3 style="text-align:center;">Informações do restaurante</h3>

   
<p style="text-align:center;">
  <strong>Nome:</strong>
  <%= @restaurante.nome %>
</p>

<p style="text-align:center;">
  <%= link_to 'Clique para ver o cardápio da semana', @restaurante.cardapio, :target => "_blank" %>
</p>

<p style="text-align:center;">
  <strong>Mapa:</strong><br>
  <img src=<%= @restaurante.mapa %> width="600" height="400" /img>
</p>

<p style="text-align:center;">
  <strong>Foto:</strong><br>
  <img src=<%= @restaurante.foto %> width="149" height="105" /img>
</p>

<p style="text-align:center;"><%= link_to 'Voltar', restaurantes_path %></p>

 <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>