<%= form_with(model: admin, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :admin_login %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.text_field :senha, id: :admin_senha %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :admin_nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
