<% if  logged_in? %>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th ,p {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>


<h1> Confirme os dados</h1>
<p>
<%= form_tag :action => 'createWCookies' do %>
  <strong>Login:</strong>
  <%= @admin.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @admin.senha %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @admin.nome %>
</p>
<p>
  <strong>email:</strong>
  <%= @admin.email %>
</p>

<%= submit_tag "Cadastrar" %>
<% end -%>
<%= link_to 'voltar', controller: "admins", action: "new", id: @admin %>
<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 