<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th ,p {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<p id="notice"><%= notice %></p>

<h1> Are you sure, my lad ?</h1>
<p>
<%= form_tag :action => 'createWCookies' do %>
  <strong>Login:</strong>
  <%= @admin.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @admin.senha %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @admin.nome %>
</p>
<p>
  <strong>email:</strong>
  <%= @admin.email %>
</p>

<%= submit_tag "Confirma criação" %>
<% end -%>
<%= link_to 'Quero reinserir os dados', controller: "admins", action: "new", id: @admin %>
