<% if  logged_in? %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">

<h1> Confirme os dados</h1>

<%= form_tag :action => 'createWCookies' do %>
<p>
  <strong>Login:</strong>
  <%= @admin.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @admin.senha %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @admin.nome %>
</p>
<p>
  <strong>email:</strong>
  <%= @admin.email %>
</p>

<%= submit_tag "Cadastrar" %>
<% end -%>
<%= link_to 'voltar', controller: "admins", action: "new", id: @admin %>

</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>
<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 