
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">
<h1>Administradores</h1>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <% if logged_in? %>
  <tbody>
    <p><%= flash[:error] %></p> 
    <%= form_tag :action => 'select_multiple' do %>
    <% for admin in @admins %>
      <tr>
        <td><%= admin.login %></td>
        <td><%= admin.nome %></td>
        <td><%= link_to 'Mais detalhes', admin %></td>
        <td><%=check_box_tag "admin_ids[]", admin.id%></td>

      
      </tr>
    <% end %>
    <h3 >Para deletar administradores, selecionar os registros e apertar o botão deletar</h3>
    <%= submit_tag "Delete admin(s)" %>
  </tbody>
</table>
<br>

<% end %>
<%= link_to 'New Admin', new_admin_path %>
</div>
<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 


</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>