<p id="notice"><%= notice %></p>

<h1>Admins</h1>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Senha</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
    <%= form_tag :action => 'delete_multiple' do %>
    <% for admin in @admins %>
      <tr>
        <td><%= admin.login %></td>
        <td><%= admin.nome %></td>
        <td><%= link_to 'Show', admin %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to "Delete", {:action => 'delete', :id => admin.id}, :confirm => "Are you sure you want to delete this item?" %></</td>
        <td><%=check_box_tag "admin_ids[]", admin.id%></td>

      
      </tr>
    <% end %>
    <%= submit_tag "Delete checked" %>
  </tbody>
</table>
<br>

<% end %>
<%= link_to 'New Admin', new_admin_path %>
