
<% if logged_in? %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">

<% if not flash[:error].nil? %>
<p><%= flash[:error] %></p> 
<%end%>	


<h1>Novo administrador</h1>
<h2> Todos os campos são obrigatórios.</h2>
<h2> O Login tem que ser único.</h2>

<%= form_tag :action => 'createCookie' do %>
<p><label for ="admin_login"> Login</label>
<%= text_field :admin, :login %></p>
<p><label for ="admin_senha"> Senha</label>
<%= text_field :admin, :senha %>
<p><label for ="admin_senha_confirmation"> Confirme a senha</label>
<%= text_field :admin, :senha_confirmation %></p>
<p><label for ="admin_nome"> Nome</label>
<%= text_field :admin, :nome %>
<p><label for ="email"> Email</label>
<%= text_field :admin, :email %>

<br>
<%= submit_tag "Criar administrador" %>
<% end -%>
<%= link_to 'Voltar para lista de administradores', admins_path %>

</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>


<% else %>

<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 
