<p id="notice"><%= notice %></p>

<h1>Admins</h1>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <h2> Tela de confirmação de exclusão</h2>
  <h2>Selecione os Admins que você realmente deseja excluir</h2>
  <tbody>
    <%= form_tag :action => 'delete_multiple', :url => 'select_multiple_admin_path' do %>
    <% for admin in @admins %>
      <tr>
        <td><%= admin.login %></td>
        <td><%= admin.nome %></td>
        <td><%= admin.email %></td>
        
        <td><%=check_box_tag "admin_ids[]", admin.id%></td>

      
      </tr>
    <% end %>
    <%= submit_tag "Delete checked" %>
  </tbody>
</table>
<br>

<% end %>

<%= link_to 'Im not sure, my memer', controller: "admins", action: "index" %>
