<% if logged_in? %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">

<h1>Admins</h1>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Nome</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <h2> Tela de confirmação de exclusão</h2>
  <h2>Selecione os Admins que você realmente deseja excluir</h2>
  <tbody>
    <%= form_tag :action => 'delete_multiple', :url => 'select_multiple_admin_path' do %>
    <% for admin in @admins %>
      <tr>
        <td><%= admin.login %></td>
        <td><%= admin.nome %></td>
        <td><%= admin.email %></td>
        
        <td><%=check_box_tag "admin_ids[]", admin.id%></td>

      
      </tr>
    <% end %>
    <p><label for ="admin_senha"> Confirme sua senha</label></p>
    <%= text_field :admin, :senha %></p>
    <%= submit_tag  "Deleta administradores marcados" %>
  </tbody>
</table>
<br>

<% end %>

<%= link_to 'Voltar para home', controller: "admins", action: "index" %>
</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>


<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 