<% if logged_in? %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>




    <div class="center jumbotron">

<p>
  <strong>Login:</strong>
  <%= @admin.login %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @admin.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<%= link_to 'Editar', edit_admin_path(@admin) %> |
<%= link_to 'Voltar', admins_path %>

</div>



    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>



  </body>
</html>


<% else %>
<h1>Não logado </h1>
<meta http-equiv="refresh" content="0; url=/" /> 

<% end %> 