<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "bandecoapp", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Ajuda", help_path %></li>
        
        <li class = "dropdown">
          <p class="dropdown-toggle" data-toggle="dropdown">
          Administradores <b class="caret"></b></p>
          <ul class="dropdown-menu">
        <% if logged_in? %>
          <li><%= link_to "Admins",admins_path %></li>
          <li><%= link_to "Restaurantes",restaurantes_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu2">
              <li><%= link_to "Perfil", current_admin %></li>
              <li><%= link_to "Configurações", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </li>

        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>